$font-stack: Lato, Helvetica, Arial, sans-serif;
$title-font-stack: 'Montserrat', Helvetica, sans-serif;

$font-size: 15px;
$font-size-title: 28px;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
